<p style="color: green"><%= notice %></p>

<table class="table table-bordered table-hover">
  <tbody>
    <%= render @categorium %>
  </tbody>
</table>

<%= link_to "Voltar", categoria_path, class: "btn btn-secondary" %>