<h1>Editing consumidor</h1>

<%= render "form", consumidor: @consumidor %>

<br>

<div>
  <%= link_to "Show this consumidor", @consumidor %> |
  <%= link_to "Back to consumidors", consumidors_path %>
</div>
