<p style="color: green"><%= notice %></p>

<table class="table table-bordered table-hover">
  <tbody>
    <%= render @consumidor %>
  </tbody>
</table>

<div>
  <%= link_to "Voltar", consumidors_path, class: "btn btn-primary" %>
</div>